html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.botao-tela-inicial{
  font-family: 'Luckiest Guy', cursive;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #444466;
  text-transform: uppercase;
  background-color: #8888bb;
  border: none;
  border-radius: .75rem;
  color: #fff;
}